@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: #121212;
  --foreground: #e0e0e0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .card {
    @apply bg-gray-800 rounded-lg shadow-lg overflow-hidden transition-all duration-300;
  }

  .card-title {
    @apply text-lg font-semibold mb-2 text-gray-100 line-clamp-2;
  }

  .card-body {
    @apply text-sm text-gray-300 mt-2 line-clamp-3;
  }
}